<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dayData of data">
      <td>{{dayData.date}}</td>
      <td>{{dayData.open}}</td>
      <td>{{dayData.high}}</td>
      <td>{{dayData.low}}</td>
      <td>{{dayData.close}}</td>
      <td>{{dayData.volume}}</td>
    </tr>
  </tbody>
</table>
<!-- <mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="open">
    <mat-header-cell *matHeaderCellDef> Open </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.high}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="high">
    <mat-header-cell *matHeaderCellDef> High </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.high}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="low">
    <mat-header-cell *matHeaderCellDef> Low </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.low}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="close">
    <mat-header-cell *matHeaderCellDef> Close </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.close}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="volume">
    <mat-header-cell *matHeaderCellDef> Volume </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.volume}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->